on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  # git clone using the actions/checkout action
  git-checkout-with-github-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

  # git clone using git command
  git-checkout:
    runs-on: ubuntu-latest
    steps:
      - run: |
          git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git .
          git switch ${{ github.event.pull_request.head.ref || github.ref_name }}
          echo "SHA $(git rev-parse HEAD)"
